.content {
  overflow: auto; /* Add this line for vertical and horizontal scrolling */
  max-height: 80vh; /* Set a maximum height to trigger scrolling */
  max-width: 100vw; /* Set maximum width to 100% of the viewport width */
}

.mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(43, 43, 43);
  height: 76vh;

}

/* Style for the map */
map {
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  max-height: 76vh;
}

map td {
  padding: 0;
  border: 0;
}

map img {
  height: 40px;
  width: 40px;
  display: "block";

}

.pokeinfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* row-gap: 20px; */
  background-color: mediumaquamarine;
  row-gap: 10px;
  padding: 10px;
}

.pokeRow {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  /* background-color: red; */
  margin: 0;
}

.pokeContainer {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 10px;
  column-gap: 20px;
  align-items: center; /* Align items to the baseline */
  font-size: 13px;
  position: relative;
}

topCorner{
  position:absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
  width: 15px; /* Set the width and height to be the same */
  height: 15px; /* Set the width and height to be the same */
  border: 2px solid #000; /* Border properties */
  border-radius: 50%; /* Make it a circle */
  padding: 5px; /* Optional padding for better appearance */
  display: flex;
  justify-content: center;
  align-items: center;
 }


table {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
  margin: 0;
  padding: 0; 
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000; /* Add border to all tables */
}

td {
  padding: 5px;
  border: 3px solid #000000;
}
  
img {
  display: block;
}

body {
  font-family: Arial;
  overflow: auto;
} 

h1 {
  font-weight: bold;
  color: #000;
  font-size: 20px;
  margin: 0;
}

h2 {
  font-weight: bold;
  color: #000;
  font-size: 16px;
  margin: 0;
  border: 2px solid rgb(255, 68, 68); /* Adjust thickness and color as needed */
  padding: 5px; /* Add padding for spacing */
}

h3 {
  font-weight: bold;
  color: #000;
  font-size: 12px;
  margin: 0;
}

p {
  margin: 0;
  border: 2px solid lightgreen;
  padding: 5px; /* Add padding for spacing */
}

/* under h1 title and above table */
.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  column-gap: 20px;
  align-items: center; /* Align items to the baseline */
}

#pokeSwap {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  font-size: 16px;
  align-items: center; /* Align items to the baseline */
  margin: 0;
  border: 2px solid lightgreen;
  padding: 5px; /* Add padding for spacing */
}

/* menu button in container */
.menu {
  position: relative; /* Make sure the positioning context is established */
  z-index: 1; /* Set a higher z-index value for the menu container, always in forderground */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 0.5rem;
  --radius: 5px;
}

/* btn -> class */
.btn {
  background-color: rgb(150, 204, 232);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
  position: relative;
}

.returnBtn {
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 0.5rem;
  --radius: 5px;
  background-color: rgb(255, 146, 131);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
}

#npcInteraction {
  margin:0;
}

#answerBtns {
  column-gap: 20px;
  display: flex;
  flex-direction: row;
}

#yesAnswerBtn {
  background-color: rgb(139, 255, 131);
  font-size: 16px;
  border-radius: 5px;
  padding: 0.3rem;
}

#noAnswerBtn {
  background-color: rgb(255, 146, 131);
  font-size: 16px;
  border-radius: 5px;
  padding: 0.3rem;
}

#okAnswerBtn {
  background-color: rgb(139, 255, 131);
}

.bx {
  font-size: 1.1rem;
} 

.dropdown {
  position: absolute;
  font-size: 16px;
  width: 150px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  margin-top: 0.6rem;
  background: rgb(150, 204, 232);

  visibility: hidden;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background-color: var(--color);
  color: white;
}

.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0rem);
}

.arrow {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

.battleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(28, 141, 202);
  height: 85vh;
}

#battleRow {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  width: 100%; /* Make sure #battleRow takes up the full width */
  max-width: 100%; /* Ensure it doesn't exceed the full width */
}

#battleField {
  flex: 1;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

#battleMenu {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#battleText {
  border: 3px solid black;
  padding: 4px;
  background-color: white;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the text vertically */
}

#battlePokeInfo {
  white-space: pre-wrap;
  border: 2px solid black;
  padding: 4px;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  content-visibility: auto;
}

.battlePokeContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: flex-start; /* Align items to the baseline */
}

.hpContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.expContainer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  font-size: 8px;
}

#battlePokeHpBar {
  align-items: center;
  justify-content: center;
  display: flex;
  min-height: 16px;
  width: 100%;
  box-sizing: border-box;
  border: #4caf50 2px solid;
}

#battlePokeExpBar {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 8px;
  width: 100%;
  box-sizing: border-box;
  border: rgb(61, 187, 255) 2px solid;
}

#escapeBtn {
  display: inline-flex; /* Ensures the button doesn't take the full width */
  justify-content: center;
  align-items: center; /* Center the text vertically */
  width: auto !important;; /* Reset any width constraints */
  
}

#escapeBtnDiv {
  display: flex; /* Ensures the button doesn't take the full width */
  justify-content: center;
  align-items: center; /* Center the text vertically */
  
}

.attackBtn {
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  --color: #166e67;
  --gap: 0.5rem;
  --radius: 5px;
  background-color: rgb(131, 255, 247);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  column-gap: var(--gap);
  padding: 0.6rem;
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  box-shadow: var(--shadow);
}

#attackBtnsDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

}